$font-stack: Arial,
Helvetica,
sans-serif;
$light-color: #f4f4f4;
$primary-color: #0e6cff;
$secondary-color: #ff8700;
/*This is config file is used as a partial, which is to brought to another file, not compiled on its own*/